.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    min-height: 80vh;
  }
  
  .home-text {
    max-width: 500px;
  }
  
  .home-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home-text p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .home-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    
  }
  
  